table{
    background-color: rgba(106, 43, 177, 0.795);
    border: 5px solid  black
    }
    body{
        background-image:url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center, center;
        background-attachment: fixed;
        font-family: Georgia, 'Times New Roman', Times, serif;    
    }
    
.sectionTwo td {
border:solid 5px  black;
font-family: monospace;
margin: auto;
width: 50%;
max-width: 500px;  
}
input:hover{
    background-color: rgba(255, 255, 255, 0.897);
}
input{
    background-color: rgb(50, 4, 122);
}